@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.banner {
  background-image: url(../images/banner/banner1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
}
.banner-container {
  width: 30%;
  margin-right: 180px;
}
.banner .banner-title {
  text-align: right;
  font-size: 38px;
}
.banner .banner-description {
  text-align: right;
  font-size: 14px;
  margin: 20px 0;
}
.banner .button-container {
  text-align: right;
  margin-top: 40px;
}
.banner .button-container a {
  padding: 15px;
  border-radius: 10px;
  background: #ff6600;
  text-decoration: none;
  color: #ffffff;
}
/* my failures information section  */
.my-failure-info {
  margin: 50px 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-failure-info .image-container {
  width: 50%;
}
.my-failure-info .details {
  width: 50%;
  margin-left: 100px;
}
.details .title {
  font-size: 30px;
}
.details .description {
  font-size: 18px;
  margin-top: 20px;
}
.details .failure-list {
  font-size: 18px;
  margin-top: 20px;
}
.details .failure-list ul {
  list-style: none;
}
.details .failure-list ul li {
  margin-left: 10px;
}
.details .failure-list ul li i {
  margin-right: 10px;
  color: #90ee90;
}
/* my plan section  */
.my-plans-container {
  margin: 50px 180px;
}
.my-plans-container .plan-title {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}
.my-plans-container .plans {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.plans .plan {
  width: 25%;
}
.plans .plan .image-container {
  width: 90px;
  height: 90px;
  margin: auto;
}
.plans .plan .image-container img {
  width: 100%;
  height: 100%;
}
.plans .plan .title {
  text-align: center;
  margin-top: 20px;
}
.plans .plan .description {
  text-align: center;
  font-size: 18px;
}
/* good mineset banner  */
.good-mineset-banner {
  margin: 50px 180px;
  background-image: url(../images/watch.png),
    linear-gradient(to right, rgba(241, 91, 34, 1), transparent);
  height: 300px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-radius: 10px;
  padding-left: 50px;
  padding-top: 40px;
}
.good-mineset-banner .title {
  color: #ffffff;
  font-size: 35px;
}
.good-mineset-banner .call-btn-container {
  margin-top: 40px;
}
.call-btn-container .btn {
  color: #f15b22;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 7px;
}
/* our blog  */
.our-blog {
  margin: 50px 180px;
}
.our-blog h2 {
  text-align: center;
}
.our-blog .blogs {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.our-blog .blogs .blog {
  width: 33%;
  margin: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
.our-blog .blogs .blog img {
  width: 100%;
  height: 250px;
}
.our-blog .blogs .blog .blog-title {
  text-align: left;
  margin: 5px 0;
  padding: 8px;
}
.our-blog .blogs .blog .description {
  padding: 8px;
}
